.class-fn,.class-ln{
    display: inline-block;
    padding: 10px 20px;
    width: 80px;
    border-radius: 5px;
    border: 1px solid gray;
}
.class-em{
    display: block;
    margin-top: 8px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 205px;
    margin-bottom: 5px;
}
.class-btn{
    padding: 10px 20px;
    width: 245px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgb(0, 89, 255);
    color: white;
    font-weight: bold;
    margin-top: 1px;
}